:root {
	font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 100vh;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.spacer {
	flex-grow: 1;
}
