{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "vueIndentScriptAndStyle": true,
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "app/sveltekit/**/*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
